doctype html
html(lang="en")
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="shortcut icon" href="https://cdn.glitch.com/46a629d4-cae5-4133-8bfb-48758c4b642f%2Ffavicon.ico?1518809742936")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css" integrity="sha256-FpjP45Pz019159CFCReBCsZtVeCvGawN2Om1w+SIi0A=" crossorigin="anonymous")
    link(rel="shortcut icon" href="https://cdn.glitch.com/46a629d4-cae5-4133-8bfb-48758c4b642f%2Ffavicon.ico?1518809742936")
    script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
  body
    div.ui.secondary.stackable.pointing.menu
      a.item(class={ active: nav === 'home' }, href="/")
        span Home
      a.item(class={ active: nav === 'login' }, href="/login")
        span Test Login
      a.item(class={ active: nav === 'verify' }, href="/verify")
        span Test JWT Token
      a.item(class={ active: nav === 'contact' }, href="/contact/lookup")
        span Test Contact Lookup
      div.right.menu
        a.ui.item(href="https://glitch.com/edit/#!/example-api-thejuki")
          i.far.fa-edit(style="margin-right: 5px")
          span Edit on Glitch
    block content