extends layout.pug

block content
    h1.ui.center.aligned.header(style="margin-top: 3em") Verify
    div.ui.center.segments(style="width:300px;margin-left: auto!important;margin-right: auto!important;")
        div.ui.segment
            form.ui.form(action="/api/v1/verify" method="post")
                div.field
                    input(type="text" name="token" placeholder="Token without Bearer" autocapitalize="off" autocorrect="off" autofocus="autofocus" autocomplete="off")
                button.ui.primary.button(type="submit") Submit